.albums_tracks {
    padding-top: 67px;
}

.top-tracks {
    width: 807px;
    height: 467px;
    display: flex;
    margin-bottom: 39px;
}

.top-tracks__img {
    width: 226px;
    height: 506px;
    background-repeat: no-repeat;
}

.top-tracks__text-img {
    width: 198px;
    height: 47px;
    background-repeat: no-repeat;
    margin: 408px 10.43px 0 18px;
}

.top-tracks__content {
    display: flex;
    flex-direction: column;
    width: 580px;
}

.top-tracks__text {
    padding-left: 24px;
    width: 430px;
}

.top-tracks__album {
    font-size: 0.625em;
    line-height: 0.875em;
    color: #0F1E36;
}

.top-tracks__title {
    font-style: normal;
    font-weight: bold;
    font-size: 3.125em;
    line-height: 1.375em;
    color: #0F1E36;
}

.top-tracks__artist {
    font-size: 1.125em;
    line-height: 1.375em;
    width: 430px;
    color: #0F1E36;
    opacity: 0.5;
}

.top-tracks__desc {
    width: 429px;
    height: 72px;
    padding-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 0.750em;
    line-height: 0.875em;
    color: #0F1E36;
    opacity: 0.5;
}

.album__list {
    list-style: none;
    padding-left: 23px;
    padding-top: 6px;
    font-size: 12px;
    line-height: 16px;
    color: rgba(15, 30, 54, 0.5);
}

.album__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 577px;
    height: 39px;
}

.album__number {
    width: 14px;
    height: 10px;
    padding-right: 38px;
}

.album__wave {
    width: 14px;
    height: 10px;
    padding-right: 38px;
    background-image: url(../images/album-top/wave.svg);
    background-repeat: no-repeat;
}

.album__like {
    width: 15px;
    height: 13px;
    padding-right: 33px;
    background-image: url(../images/album-top/like.svg);
    background-repeat: no-repeat;
}

.album__plus {
    width: 12px;
    height: 12px;
    padding-right: 38px;
    background-image: url(../images/album-top/plus.svg);
    background-repeat: no-repeat;
}

.album__artist {
    width: 150.28px;
    padding-right: 32px;
}

.album__daily {
    padding-right: 29px;
}

.album__time {
    width: 34px;
    height: 18px;
    padding-right: 10px;
}

.album__download {
    width: 15px;
    height: 12.5px;
    padding-right: 34px;
    background-image: url(../images/album-top/download.svg);
    background-repeat: no-repeat;
}

.album__share {
    width: 14px;
    height: 12px;
    padding-right: 33px;
    background-image: url(../images/album-top/share.svg);
    background-repeat: no-repeat;
}

.album__dots {
    width: 10px;
    height: 2px;
    background-image: url(../images/album-top/dots.svg);
    background-repeat: no-repeat;
}

.active {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.top-tracks__show-more {
    width: 72px;
    height: 16px;
    margin-top: 15px;
    align-self: center;
    background-image: url(../images/album-top/show-more.svg);
    background-repeat: no-repeat;
}