.big-img {
    width: 642.16px;
    height: 327px;
    margin-top: 64px;
    position: relative;
    overflow: hidden;
}

.big-img__img {
    width: 642.16px;
    height: 327px;
    background-image: url(../images/artists/frame.jpg);
    background-repeat: no-repeat;
    filter: blur(1px);
    position: absolute;
}

.big-img__img-mask {
    width: 249px;
    height: 327px;
    margin-left: 392px;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-image: url(../images/artists/window-mask.jpg);
    background-repeat: no-repeat;
}

.big-img__playlist {
    margin-top: 27px;
    margin-left: 27px;
    height: 217.52px;
    list-style: none;
}

.big-img__info {
    position: absolute;
    color: #fff;
    font-weight: bold;
}

.big-img__info-photo {
    margin-top: 238px;
    margin-left: 17px;
    width: 78px;
    height: 78px;
    background-image: url(../images/artists/info-photo.png);
    background-repeat: no-repeat;
    position: absolute;
}

.big-img__title {
    padding: 242px 15px 0px 110px;
    font-size: 1.750em;
}

.big-img__info-items {
    padding-top: 4px;
    padding-left: 110px;
    display: flex;
}

.big-img__followers {
    width: 59px;
    padding-right: 25px;
}

.big-img__followers-item {
    font-size: 0.750em;
    line-height: 0.875em;
    font-weight: normal;
}

.big-img__listener {
    width: 56px;
    padding-right: 25px;
}

.big-img__listener-item {
    font-size: 0.750em;
    line-height: 0.875em;
    font-weight: normal;
}

.big-img__songs {
    width: 56px;
}

.big-img__songs-item {
    font-size: 0.750em;
    line-height: 0.875em;
    font-weight: normal;
}

.big-img__item {
    font-size: 0.688em;
    line-height: 0.750em;
    height: 35px;
    color: #fff;
    align-items: center;
    display: flex;
}

.big-img__number {
    opacity: 0.5;
}

.big-img__plus {
    height: 24px;
    width: 24px;
    padding-right: 14px;
    background-image: url(../images/artists/plus.svg);
    background-repeat: no-repeat;
}

.big-img__song {
    width: 110px;
    padding-right: 17px;
}

.big-img__dots {
    width: 40px;
    height: 29.15px;
    background-image: url(../images/artists/dots.svg);
    background-repeat: no-repeat;
}

.item1 {
    opacity: 0.95;
    border-bottom: 1px solid rgba(225, 225, 255, 0.95);
}

.item2 {
    opacity: 0.9;
    border-bottom: 1px solid rgba(225, 225, 255, 0.9);
}

.item3 {
    opacity: 0.8;
    border-bottom: 1px solid rgba(225, 225, 255, 0.8);
}

.item4 {
    opacity: 0.5;
    border-bottom: 1px solid rgba(225, 225, 255, 0.5);
}

.item5 {
    opacity: 0.2;
    border-bottom: 1px solid rgba(225, 225, 255, 0.2);
}

.item6 {
    opacity: 0.1;
    border-bottom: 1px solid rgba(225, 225, 255, 0.1);
}

.mask__button {
    margin-left: 91px;
    margin-top: 34.55px;
    display: flex;
    justify-content: baseline;
}

.mask__button--play {
    color: #0F1E36;
    position: relative;
    margin-right: 5px;
    padding: 4px 25px 4px 15px;
    border-radius: 4px;
    border-width: 0;
    outline: none;
}

.mask__button--play::after {
    content: "";
    position: absolute;
    background-image: url(../images/artists/play.svg);
    background-repeat: no-repeat;
    width: 7px;
    height: 8px;
    margin-left: 3px;
    transform: translateY(65%);
}

.mask__button--share {
    background-image: url(../images/artists/share.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 24.83px;
    height: 24.83px;
    border-radius: 4px;
    border-width: 0;
    outline: none;
}

.color {
    width: 50px;
    height: 50px;
    background-color: pink;
}

.image {
    width: 642px;
}

.artists {
    display: flex;
    padding-top: 28px;
    padding-left: 22px;
    width: 834px;
}

.main-image {
    display: flex;
    flex-direction: column;
    min-height: 327px;
}

.side-image__block {
    width: 169.57px;
    margin-top: 64px;
    margin-left: 22.28px;
    display: flex;
    flex-direction: column;
}

.side-image__item {
    width: 169.57px;
    height: 152.84px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.image-1 {
    margin-bottom: 21.33px;
    background-image: url(../images/artists/image1.jpg);
    background-repeat: no-repeat;
}

.image-2 {
    background-image: url(../images/artists/image2.jpg);
    background-repeat: no-repeat;
}

.filter-artist {
    margin-left: 23px;
    margin-top: 26px;
}

.filter-artist__header {
    display: flex;
    justify-content: space-between;
}

.filter-artist__title {
    font-size: 1em;
    margin-left: 11px;
    line-height: 1.375em;
    font-weight: bold;
}

.filter-artist__when {
    width: 150px;
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    line-height: 1.375em;
}

.filter-artist__when-href {
    text-decoration: none;
    outline: none;
    color: #0F1E36;
}

.filter-artist__when-href:active {
    color: #F51E38;
}

.filter-artists__genre {
    padding-top: 27px;
    display: inline-flex;
    flex-wrap: wrap;
}

.filter-artists__genre > button{
    margin-left: 11px;
    margin-bottom: 15.73px;
}

.filter-artists__genre-switch {
    padding: 10px 15px 10px 15px;
    border-radius: 8px;
    border: 1px solid #0F1E36;
    outline: none;
}

.filter-artists__genre-switch:focus{
    background-color: #3E2AD1;
    color: #fff;
}

.filter-artists__list {
    display: flex;
    width: 805px;
    justify-content: space-between;
    text-align: center;
}

.filter-artists__item--img {
    width: 112px;
    height: 112px;
    object-fit:cover;
    border-radius: 50%;
}

.filter-artists__item--text{
    font-size: 0.625em;
    line-height: 0.875em;
    font-weight: bold;
    margin-top: 8px;
}