* {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    max-height: 820px;
    min-height: 100vh;
}

.main-item,
.item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-item {
    max-height: 820px;
}

.side-item {
    width: 857px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: #F4F9FF;
}

@media screen and (max-width: 58px) {
    .flex {
        flex-wrap: wrap;
    }

    .side-item {
        flex-direction: row;
    }
}

@font-face {
    font-family: 'navicon';
    src: url('../font/navicon.eot?24398900');
    src: url('../font/navicon.eot?24398900#iefix') format('embedded-opentype'),
        url('../font/navicon.woff2?24398900') format('woff2'),
        url('../font/navicon.woff?24398900') format('woff'),
        url('../font/navicon.ttf?24398900') format('truetype'),
        url('../font/navicon.svg?24398900#navicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "navicon";
    font-style: normal;
    font-weight: normal;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;

    font-variant: normal;
    text-transform: none;

    line-height: 1em;

    margin-left: .2em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu__icon {
    padding-right: 16px;
}

.icon-icon1:before {
    content: '\e800';
}

.icon-icon2:before {
    content: '\e801';
}

.icon-icon3:before {
    content: '\e802';
}

.icon-icon4:before {
    content: '\e803';
}

.icon-icon5:before {
    content: '\e804';
}

.icon-icon6:before {
    content: '\e805';
}

.icon-icon7:before {
    content: '\e806';
}

.icon-icon8:before {
    content: '\e807';
}

.icon-icon9:before {
    content: '\e808';
}

.icon-icon10:before {
    content: '\e809';
}

.navigation-panel {
    background: #FFFFFF;
    border: rgba(15, 30, 54, 0.2) solid 1px;
    width: 169px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 50;
}

/*? padding: top, right, bottom, left */
.menu {
    line-height: 1.000em;
    font-size: 0.750em;
    padding: 0px 0px 157px 25px;
}

.menu__logo {
    padding: 23px 55px 43px 25px;
}

.menu__list-header {
    padding-bottom: 16px;
}

.menu__item {
    padding-bottom: 24px;
}

.menu__link {
    text-decoration: none;
    color: rgba(15, 30, 54, 0.5);
}

.menu__link::before {
    content: "";
    top: 0;
    left: 0;
    width: 106px;
    height: 16px;
}

.menu__link--active {
    color: rgba(62, 42, 209, 1);
}

.menu__link:active {
    color: rgba(62, 42, 209, 1);
}

.top-bar {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 67px;
    max-width: 857px;
    border-right: rgba(15, 30, 54, 0.2) solid 1px;
    border-bottom: rgba(15, 30, 54, 0.2) solid 1px;
    background: #fff;
    z-index: 20;
}

/*? padding: top, right, bottom, left */
.top-bar__search {
    width: 349px;
    border-right: rgba(15, 30, 54, 0.2) solid 1px;
    padding: 22px 0 25.5px 22px;
}

.top-bar__search--item {
    background-image: url("../images/top-bar/search.svg");
    background-repeat: no-repeat;
    padding-left: 28.89px;
    padding-right: 5px;
    outline: none;
    position: relative;
    border: none;
}

.top-bar__tv {
    width: 87px;
    border-right: rgba(15, 30, 54, 0.2) solid 1px;
}

.top-bar__tv--img {
    padding: 23px 0 0 32px;
}

.top-bar__radio {
    border-right: rgba(15, 30, 54, 0.2) solid 1px;
}

.top-bar__radio--img {
    padding: 20px 33.39px 0 32.74px;
}

.top-bar__bell {
    border-right: rgba(15, 30, 54, 0.2) solid 1px;
}

.top-bar__bell--img {
    padding: 20px 35px 0 32.74px;
}

.top-bar__profile--img {
    padding: 15px 0px 15.7px 23px;
}

.slider {
    width: 857px;
    height: 307px;
    margin-top: 67px;
    background-size: 857px 307px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.slider__content {
    padding: 92px 0 0 53px;
}

.slider__title {
    padding-bottom: 9px;
    font-family: Source Sans Pro;
    font-size: 0.625em;
    line-height: 0.875em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.slider__group {
    font-size: 1.750em;
    max-width: 233px;
    font-weight: bold;
    color: #FFFFFF;
}

.slider__group--name {
    font-size: 1.000em;
    line-height: 0.875em;
    padding-top: 7px;
    color: #FFFFFF;
}

.slider__button {
    padding: 43px 0 34px 0;
    display: flex;
    justify-content: baseline;
}

.slider__button--play {
    color: #E6152B;
    position: relative;
    margin-right: 5px;
    padding: 4px 25px 4px 15px;
    border-radius: 4px;
    border-width: 0;
    outline: none;
}

.slider__button--play::after {
    content: "";
    position: absolute;
    background-image: url(../images/slider/play.svg);
    background-repeat: no-repeat;
    width: 7px;
    height: 8px;
    margin-left: 3px;
    transform: translateY(65%);
}

.slider__button--share {
    background-image: url(../images/slider/share.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 24.83px;
    height: 24.83px;
    border-radius: 4px;
    border-width: 0;
    outline: none;
}

.slider__button--prev-next {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
}

.slider__button--prev-next-1 {
    padding-right: 5px;
}

.slider__button--prev-next-2 {
    padding-right: 5px;
}

.slider__button--prev-next-3 {
    padding-right: 5px;
}

.featured {
    background-color: #F4F9FF;
    padding-left: 23px;
    padding-top: 24px;
}

.title {
    padding-bottom: 13px;
    font-weight: bold;
    font-size: 1.000em;
    line-height: 1.375em;
    color: #0F1E36;
}

.featured-tracks__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.featured-tracks__img {
    width: 112px;
    height: 112px;
}

.featured-tracks__song {
    font-size: 0.750em;
    line-height: 1.000em;
    color: #0F1E36;
    padding-bottom: 4px;
}

.featured-tracks__singer {
    font-size: 0.625em;
    line-height: 0.875em;
    color: #0F1E36;
    mix-blend-mode: normal;
    opacity: 0.48;
}

.top {
    padding-left: 23px;
    background-color: #F4F9FF;
    height: 100%;
    color: rgba(15, 30, 54, 0.5);
}

.top-tracks {
    padding-top: 23px;
}

.top-tracks__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.active {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.top-tracks__title {
    padding-top: 10px;
    padding-bottom: 9px;
}

.dies {
    padding-right: 138px;
    color: rgba(15, 30, 54, 1);
    font-weight: bold;
}

.song {
    padding-right: 183px;
    color: rgba(15, 30, 54, 1);
    font-weight: bold;
}

.artist {
    padding-right: 106px;
    color: rgba(15, 30, 54, 1);
    font-weight: bold;
}

.daily-plays {
    padding-right: 45px;
    color: rgba(15, 30, 54, 1);
    font-weight: bold;
}

.time {
    padding-right: 56px;
    color: rgba(15, 30, 54, 1);
    font-weight: bold;
}

.option {
    color: rgba(15, 30, 54, 1);
    font-weight: bold;
}

.top-tracks__item {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 830px;
    justify-content: center;
    height: 39px;
}

.top-tracks__number {
    width: 14px;
    padding-right: 38px;
}

.top-tracks__wave {
    width: 14px;
    height: 10px;
    background-image: url(../images/top-tracks/wave.svg);
    background-repeat: no-repeat;
    padding-right: 38px;
}

.top-tracks__like {
    width: 15px;
    height: 13px;
    background-image: url(../images/top-tracks/like.svg);
    background-repeat: no-repeat;
    padding-right: 83px;
}

.top-tracks__song {
    width: 120px;
    padding-right: 99px;
}

.top-tracks__artist {
    width: 96px;
    padding-right: 50px;
}

.top-tracks__daily-plays {
    width: 44px;
    padding-right: 75px;
}

.top-tracks__time {
    padding-right: 65px;
}

.top-tracks__option {
    display: flex;
}

.top-tracks__download {
    width: 15px;
    height: 12.5px;
    background-image: url(../images/top-tracks/download.svg);
    background-repeat: no-repeat;
    padding-right: 20px;
}

.top-tracks__share {
    width: 14px;
    height: 12px;
    background-image: url(../images/top-tracks/share.svg);
    background-repeat: no-repeat;
    padding-right: 20px;
}

.top-tracks__dots {
    width: 10px;
    height: 2px;
    background-image: url(../images/top-tracks/dots.svg);
    background-repeat: no-repeat;
}

.space {
    height: 62px;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    height: 62px;
    width: 1024px;
    text-align: center;
    z-index: 200;
}

.footer__song-info {
    display: flex;
    width: 170px;
    height: 62px;
    background: #F51E38;
}

.footer__song-img {
    border-radius: 2px;
    width: 40px;
    height: 40px;
    margin: 12px 0 0 24px;
    background-image: url(../images/footer/song-img.jpg);
    background-repeat: no-repeat;
}

.footer__text {
    padding: 12px 0 0 8px;
    text-align: left;
}

.footer__song {
    color: #fff;
    font-size: 0.625em;
    line-height: 0.875em;
    padding-bottom: 5px;
}

.footer__singer {
    color: #fff;
    opacity: 50%;
    font-size: 0.625em;
    line-height: 1.000em;
    width: 60px;
}

.footer__playlist {
    margin-top: 12px;
    margin-right: 12px;
    width: 13px;
    height: 10px;
    background-image: url(../images/footer/play-list.svg);
    background-repeat: no-repeat;
}

.footer__player {
    display: flex;
    align-items: center;
    width: 857px;
    background-color: #0F1E36;
}

.footer__again {
    margin-left: 22.79px;
    width: 13px;
    height: 13px;
    background-image: url(../images/footer/again.svg);
    background-repeat: no-repeat;
}

.footer__options {
    margin-left: 31px;
    width: 16px;
    height: 9px;
    background-image: url(../images/footer/options.svg);
    background-repeat: no-repeat;
}

.footer__backward {
    margin-left: 56px;
    width: 16px;
    height: 10px;
    background-image: url(../images/footer/backward.svg);
    background-repeat: no-repeat;
}

.footer__pause {
    margin-left: 23px;
    margin-right: 23px;
    width: 45px;
    height: 45px;
    background-image: url(../images/footer/pause.svg);
    background-repeat: no-repeat;
}

.footer__forward {
    width: 16px;
    height: 10px;
    background-image: url(../images/footer/forward.svg);
    background-repeat: no-repeat;
}

.footer__now {
    padding-left: 43px;
    color: #fff;
    opacity: 0.5;
    font-size: 0.625em;
    line-height: 0.813em;
}

.footer__progress {
    margin-left: 11px;
    width: 326px;
    height: 4px;
    background-image: url(../images/footer/progress.svg);
    background-repeat: no-repeat;
}

.footer__time {
    padding-left: 11px;
    color: #fff;
    opacity: 0.5;
    font-size: 0.625em;
    line-height: 0.813em;
}

.footer__louder {
    margin-left: 63px;
    width: 17px;
    height: 14px;
    background-image: url(../images/footer/louder.svg);
    background-repeat: no-repeat;
}

.footer__window {
    margin-left: 35px;
    width: 16px;
    height: 12px;
    background-image: url(../images/footer/window.svg);
    background-repeat: no-repeat;
}
