body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background: rgb(50, 54, 54);
}

svg path,
svg rect {
    fill: #FF6700;
}

#cursor {
    position: fixed;
    pointer-events: none;
    transform: none;
    transform-origin: center center;
}
