﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/css/site.css" />
    <title>Index</title>
    <style>
        * {
            font-family: Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <b>Calc</b>
    @using (Html.BeginForm("Result", "Home"))
    {
        <div>
            <label for="First">First:</label>
            <input name="arg1" class="inpt" type="text"/>
        </div>
        <div>
            <label for="Second">Second:</label>
            <input name="arg2" class="inpt" type="text"/>
        </div>
        <div>
            <select class="math" name="math">
                <option>+</option>
                <option>-</option>
                <option>*</option>
                <option>/</option>
            </select>
            <span class="res">
                <input class="res" type="submit" value="=" />
            </span>
            <span>@Model</span>
        </div>
    }
</body>
</html>