ul.first{
    list-style:none;
    padding-left: 0%;
}

.num{
    list-style-type: upper-roman;
}

.bigLetter{
    list-style-type: upper-alpha;
}

.smallLetter{
    list-style-type: lower-alpha;
}

.ref{
    margin-left: 5%;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 45em
}
