.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.bg {
    width: 900px;
    height: 600px;
}

.grd {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 100%;
}

.weekCell {
    padding: 20px;
    text-align: center;
    color: #000;
    background-color: lightskyblue;
    font-size: 30px;
    font-weight: bold;
}

.cell {
    padding: 20px;
    text-align: center;
    color: #000;
    border: 1px solid #c3c3c3;
    font-size: 40px;
    font-weight: bold;
}

.cell:hover {
    background-color: beige;
}

.inactiveCell {
    padding: 20px;
    text-align: center;
    color: #c3c3c3;
    border: 1px solid #c3c3c3;
    font-size: 30px;
}