.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.flex-item {
    margin-bottom: 10px;
}

.label-item {
    width: 300px;
    text-align: right;
    float: left;
    margin-right: 10px;
    line-height: 30px;
}

.field-item {
    width: 300px;
    padding: 10px;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding-left: 30px;
}

#new-list {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 15px 32px;
    width: 400px;
    transform: translate(35%,0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}