body {
    margin: 0 ;
}

.photo-gallery__header{
    text-align: center;
    font-size: 6em;
    line-height: 6.25em;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    color: white;
    background-color: hsl(210, 5%, 7%);
}

.container {
    width: 100%;
    height: auto;
    position: relative;
    background: hsl(210, 5%, 7%);
}

.container__img-list {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.photo-gallery {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-gallery__item {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 0;
    margin-top: 100px;
}

.photo-gallery__img-style {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.photo-gallery__img01 {
    background-image: url(images/cat1.jpg);
}

.photo-gallery__img02 {
    background-image: url(images/cat2.jpg);
}

.photo-gallery__img03 {
    background-image: url(images/cat3.jpg);
}

.photo-gallery__img04 {
    background-image: url(images/cat4.jpg);
}

.photo-gallery__img05 {
    background-image: url(images/cat5.jpg);
}

.photo-gallery__img06 {
    background-image: url(images/cat6.jpg);
}

.photo-gallery__img07 {
    background-image: url(images/cat7.jpg);
}

.photo-gallery__img08 {
    background-image: url(images/cat8.jpg);
}

.photo-gallery__img09 {
    background-image: url(images/cat9.jpg);
}

.photo-gallery__img10 {
    background-image: url(images/space1.jpg);
}

.photo-gallery__img11 {
    background-image: url(images/space2.jpg);
}

.photo-gallery__img12 {
    background-image: url(images/space3.jpg);
}

.photo-gallery__img13 {
    background-image: url(images/space4.jpg);
}

.photo-gallery__img14 {
    background-image: url(images/space5.jpg);
}

.photo-gallery__img15 {
    background-image: url(images/space6.jpg);
}
.photo-gallery__img16 {
    background-image: url(images/jake1.gif);
}

div button {
    position: fixed;
    color: white;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    background: none;
    border: none;
    padding: 0.25rem;
    outline-color: currentColor;
    opacity: 0.5;
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

div button svg {
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
}

.overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 39, 47, 0.7);
}

.overlay__img-class {
    position: fixed;
    top: 50vh;
    left: 50%;
    width: 85%;
    height: 85%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.big-img {
    border-radius: 0;
}