html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.themeLabel {
  text-decoration: underline;
  text-decoration-color: #693eea;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: 'Source Sans Pro';
  background-color: rgb(245, 245, 245);
}

h1 {
  font-size: 2.5rem;
  padding: 15px 20px;
  background-color: rgba(78, 58, 255, 0.3);
  margin-bottom: 20px;
  text-align: center;
}

a {
  text-decoration: underline;
  color: inherit;
}

.container {
  margin: 80px auto;
  width: 90%;
  max-width: 800px;
}

.registration {
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
  border-bottom: 5px solid #3d3aff;
}

.input-requirements {
  list-style: none;
  font-size: 1.3rem;
  font-style: italic;
  text-align: left;
  list-style-position: inside;
  max-width: 400px;
  margin: 10px auto;
  color: rgb(150, 150, 150);
}

.input-requirements li.invalid {
  list-style: none;
  color: #e74c3c;
}

.input-requirements li.valid {
  list-style: none;
  color: #2ecc71;
}

.input-requirements li.valid:after {
  display: inline-block;
  padding-left: 10px;
  content: '\2713';
}

.input-requirements li.invalid:after {
  display: inline-block;
  padding-left: 10px;
  content: '\292B';
}
