div{
    font-family: Arial, Helvetica, sans-serif;  
}

ol{
     color: green;  
}

ul{
    color: black; 
}

span{
    font-size: x-large;
    color: red;
}

.list{   
    margin-left: 28%;
}
 
.header{ 
    text-align: center;
}

h3{
    text-align: center;
}
 
.text{
    text-align: left;
    margin-left: 28%;
    margin-right: 20%;
}